---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>
  <div class="d-flex justify-content-center align-items-center">
    <a href="#" class="btn" title="Download the Fact Sheet PDF">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
    </svg> Fact Sheet</a>
    <a href="#" class="btn" title="Download the ToolDoc PDF">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
    </svg> Tooldoc</a>
  </div>

  <div>
    <p class="author_title"><!-- {{site.author}}  ·   -->{{ page.date | date: "%B %e, %Y" }}</p>
    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>
  <div class="row" >
    <nav class="col-md-3 ps-2 bg-light">
      <h3 class="fw-normal text-start my-2 ms-3">Inhalt</h3>
      <hr class="my-2 ms-3">
      {% include toc.html html=content anchor_class="nav-link" id="toc" class="sticky-top overflow-auto px-3 pt-2 top-4rem mt-0" %}
    </nav>
    <div class="entry col-md-6">
      {{ content }}
    </div>
  </div>

  <div>
    <p><span class="share-box">Share:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->


</article>
